var

*pyc
*.egg-info

.install-prod.rst.swp
.installed.cfg
.minitage/
.mr.developer.cfg
bin/
cron_scripts/
develop-eggs/
downloads/
etc/apache/.200-pgolf.conf.swp
etc/apache/100-pgolf.reverseproxy.conf
etc/hudson/pgolf/build/activate_env.sh
etc/hudson/pgolf/config.xml
etc/init.d/
etc/logrotate.conf
etc/pgolf.env
etc/sys/settings-prod.cfg
minilays/
minitage.buildout-prod.cfg.before.fixed_version.bak
parts/
pgolf/

